 /* an old mod */
/*
.toolbar-statusbar {
    background: var(--colorAccentBg);
    background-image: url(./res/bub.png) !important;
}
.toolbar.toolbar-droptarget.toolbar-statusbar.toolbar-medium button {background-color: var(--colorBgAlpha);}
.button-toolbar.sync-status {background-color: #000000 !important;}
.page-zoom-controls {background-color: var(--colorBgAlpha);}
*/

/* ALLY: Make borders to use the higlight color */
.cardview input[type=text], .cardview textarea,
button, input, select, textarea,
.button-toolbar > button,
input[type=button], input[type=submit]
input[type=date], input[type=time],
input[type=text], input[type=search],
input[type=url], input[type=email],
input[type=password], input[type=number],
input[type=checkbox], input[type=radio] {border-color: var(--colorBorderHighlight);}
.theme-dark input[type=checkbox], .theme-dark input[type=radio],
.webpage-button {border-color: var(--colorBorderHighlight) !important;} 
.button-toolbar > button:disabled  {border-color: var(--colorBorderHighlight); opacity: .7;}

/* Borders for markdown buttons mod */
/* Useful if you use this: https://forum.vivaldi.net/post/407242 */
.NotesEditor > .toolbar .notes-custom {
  border-color: var(--colorBorderHighlight) !important;
  margin-right: 5px !important; margin-bottom: 5px !important;
}

/* ALLY: Bigger and easier to read vivaldi://themecolors */
.theme-test {zoom: 150%;} /* waiting for zoom controls */
.theme-test input {
  color: var(--colorFg) !important;
  background-color: var(--colorBg) !important;
  border: 1px solid var(--colorBorderHighlight) !important;
}
/* Hide header when tabs aren't on top BUT... */
#browser.native:not(.tabs-top) #header {display: none;} 

/* ...show it when UI is NOT native (eg: Guest Profiles) */
#browser:not(.native) #header {display: block;} 

.siteinfo-text {display: none;} /* Hide EV text */

/* Status Bar On Top Mod *//*tnx to sjudenim and potmeklecbohdan for their help*/
#header {order: -1;} 
.toolbar-statusbar {order: -1; border: none !important;} 
.toolbar-statusbar {background: var(--colorAccentBg);}
.button-popup {
    bottom: unset !important;
    top: 32px;
    border-radius: 3px;
}
.button-popup-arrow--above:before {bottom: unset !important;}
.button-popup:before {
    top: -20px;
    bottom: unset !important;
    margin-left: 0 !important;
    transform: rotate(180deg) translateX(calc(10px - var(--popupLeftOffset)));
}
.button-popup-arrow--light:before {
    border-top-color: var(--colorBg);
    border-bottom-color: var(--colorBg);
}
.button-popup-arrow--light--above:after {
    border-top-color: var(--colorBgDark);
    border-top: 10px solid var(--colorBgDark);
}
.button-popup .button-popup-wrapper {height: fit-content;}
.button-popup h2 {text-align: center}
.button-popup-wrapper {background-color: var(--colorBgDark);}
.button-toolbar>button>span+.button-title,
.button-toolbar>button.button-textonly {padding-top: 2px}

/* For panel mod https://forum.vivaldi.net/post/205101 */
#panels-container .toolbar-statusbar {background: initial;}