/* Tabs: Bigger Audio Icon */
#app #browser .tab-audio {
	transform: scale(1.24); transform-origin: 4px 4px;
	background-color: var(--colorBgDark);
}

/* ALLY: Taller [classic] tab stack indicator */
.tab-indicator {border-top: 1px solid transparent;}


/* Bigger unread indicator */
#tabs-container.right .tab-position .tab.unread, #tabs-container.left .tab-position .tab.pinned {
  background-image: linear-gradient(-135deg, var(--colorFgFaded) 8px, transparent 8px);
}

/* Visual indicator for [vertical] pinned tabs */
#tabs-container.right .tab-position .tab.pinned, #tabs-container.left .tab-position .tab.pinned {
  background-image: linear-gradient(315deg, var(--colorFgFaded) 8px, transparent 8px);
}

/* Two Rows of Text (could be improved) */
.tab-position .tab:not(.tab-group) {height: 30px;} 
.tab-position .tab .title {
	display: grid; white-space: normal;
	line-height: 11px; height: 22px; margin-top: -2px;
} 	

/* Separator between tabs for accessibility */
#tabs-container.top .tab-position .tab,
#tabs-container.bottom .tab-position .tab {
	border-right: 1px groove var(--colorHighlightBgDark);
}
#tabs-container.right .tab-position .tab,
#tabs-container.left .tab-position .tab {
	border-bottom: 1px groove var(--colorHighlightBgDark);
}
#tabs-container.right .tab-position .tab .title,
#tabs-container.left .tab-position .tab .title {-webkit-mask-image: none;} 

/* Hide thumbnail+tooltip for single tabs ONLY (shown on stacks) */
#vivaldi-tooltip .tooltip .tab-solo {display: none;}

/* Tooltip without thumbnail on stacks too */
div#vivaldi-tooltip .tooltip .tooltip-item .thumbnail-image {
    display: none; /* https://forum.vivaldi.net/post/416458 */
}
/*#vivaldi-tooltip .tooltip .tab-group .tooltip-item {height: auto; max-width: 100%}*/ /*44px*/

/* ALLY: Add a background to site icons (could be improved) */
/*
#tabs-container .favicon {background: white; transform: scale(1.2) !important;}
#tabs-container .favicon span svg {filter: drop-shadow(1px 1px 1px black); 
.spinner {filter: invert(1); background: none !important;}
*/
#tabs-container .favicon { /* A fix for poor icons */
	filter: drop-shadow(1px 0 0 var(--colorBgAlpha))
	drop-shadow(1px 0 0 var(--colorBgAlpha))
	drop-shadow(0 1px 0 var(--colorBgAlpha))
	drop-shadow(0 1px 0 var(--colorBgAlpha));
}
